#container {
    margin: 20px;
}

/* before text */
#container::before {
    content: "Before Element ";
    color: rgb(255, 0, 0);
    font-size: 20px;
}

/* after text */
#container::after {
    content: " After Element";
    color: rgb(255, 0, 0);
    font-size: 20px;
}




